---
import { type CollectionEntry, getCollection } from "astro:content";
// import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"post">[];

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes.sort(collectionDateSort).slice(0, MAX_NOTES);
---

<!-- 修改：主页 -->
<PageLayout meta={{ title: "主页" }}>
	<!-- 修改：注释 -->
	<!-- <section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Hi, I’m a theme for Astro, a simple starter that you can use to create your website or blog.
			If you want to know more about how you can customise me, add more posts, and make it your own,
			click on the GitHub icon link below and it will take you to my repo.
		</p>
		<SocialList />
	</section> -->
	<section aria-label="Blog post list">
		<h2 class="title mb-6 text-xl text-accent"><a href="/">时下片段</a></h2>
		<ul class="space-y-4" role="list">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
		<h2 class="mt-7 grid gap-2 text-lg sm:grid-cols-[auto_1fr]">
			<!-- 修改：添加更多... -->
			<a class="underline-offset-4 sm:hover:underline" href="/posts/">更多...</a>
		</h2>
	</section>
	{
		latestNotes.length < 0 && (
			<section class="mt-16">
				<h2 class="title mb-6 text-xl text-accent">
					<a href="/notes/">札记</a>
				</h2>
				<ul class="space-y-4" role="list">
					{latestNotes.map((note) => (
						<li>
							<Note note={note} as="h3" isPreview />
						</li>
					))}
				</ul>
			</section>
		)
	}
</PageLayout>
